*.application
*.exe
*.manifest
*.pdb
*.application
.vs/AirTrafficController/v15/.suo
*.cache
*.resources
*.xnb
*.mgcontent
*.suo
*.ide
AirTrafficController/bin
AirTrafficController/obj

*.ide-shm
*.lock
*.ide-wal
